ol {
    list-style: none;
}
.team-standing {
    text-wrap-mode: nowrap;
    span {
        display: inline-block;
        line-height: 1.2;
        min-width: 3ch;
        margin: 0 0.5ch;
        text-align: right;
    }
}
@media only screen and (max-width: 500px) {
    .team-standing span:nth-of-type(7) {
        display: none;
    }
}

.playoff-spot .division {
    opacity: 1;
}
.wildcard-spot .division {
    opacity: 0.6;
}
.no-playoff-spot .division {
    opacity: 0.3;
}
